################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/B-Wave/B-Wave.VC.db
/B-Wave/B-Wave.VC.VC.opendb
*.ipch
